[Unit]
Description=Meeseeks

[Service]
Type=simple
ExecStart=/home/meeseeks/sbin/meeseeks-service
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target