[Unit]
Description=Meeseeks

[Service]
Type=simple
ExecStart=/home/meeseeks/bin/meeseeks-service.sh
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target